@model MvcCoreCacheRedis.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen" style="width:150px;height:150px;" />
        </dd>
        <a asp-controller="Productos"
           asp-action="SeleccionarFavorito"
           asp-route-id="@Model.IdProducto"
           class="btn btn-primary">
            Marcar como favorito
        </a>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
