@model IEnumerable<MvcCoreCacheRedis.Models.Producto>

@{
    ViewData["Title"] = "Favoritos";
}

<h1>Favoritos</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <img src="@item.Imagen" style="width:150px;height:150px;" />

                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Productos"
                           asp-route-id="@item.IdProducto" class="btn btn-info">
                            Detalles
                        </a>
                        <a asp-action="DeleteFavorito" asp-controller="Productos"
                           asp-route-id="@item.IdProducto" class="btn btn-danger">
                            Eliminar de favs
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
